modules = ["nodejs-20", "web", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["freetype", "glibcLocales", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "xcodebuild", "zlib"]

[[ports]]
localPort = 8501
externalPort = 80
